{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8">
		<h1>Магазин платных услуг Cristalix</h1>
		<hr class="mt-1">
		<p>Добро пожаловать в официальный магазин Cristalix. Здесь вы можете посмотреть все доступные платные услуги нашего сервера а также узнать, как их приобрести. Мы предлагаем бустеры, игровую валюту, зачарованные вещи и многое другое. Перечень услуг варьируется в зависимости от режима. Выберите нужный вам режим в меню и посмотрите все достпные платные услуги.</p>
		<h5>О Cristalix</h5>
		<hr class="mt-1">
		<p>
			<img src="https://cristalix.ru/img/carousel/2.jpg" width="300" alt="Cristalix" class="float-left p-3"/>
			Cristalix — это один из старейших и известнейших игровых проектов в СНГ, посвящённый мини-играм и мини-режимам в Minecraft.
	</div>
	<div class="col-lg-4 p-3">
		<div class="bg-info text-white p-3">
			<h3>Нужна помощь?</h3>
			<hr class="mt-1">
			Если у вас возникают какие-либо проблемы при покупке или оплате, свяжитесь с нами в официальной группе ВКонтакте.
			<div class="mb-2 mt-4 text-center">
				<a class="btn btn-dark rounded-0" href="https://vk.com/im?sel=-130937524">Напишите нам</a>
			</div>
		</div>
		<div>
			<h5 class="mt-2">Популярный товар</h5>
			<hr class="mt-1">
			<div class="px-5">
				<div class="text-center">
					<img src="/img/moneybooster.png" alt="Бустер денег"/><br>
					<strong>Бустер денег</strong><br>
					110 ₽ на режиме <a href="/info/prison">Prison</a>
				</div>
				Хочешь приумножить деньжат, да еще и игрокам помочь, и приумножить свои деньги за их счёт? Покупай Глобальный бустер денег на 30 минут.
			</div>
		</div>
	</div>
</div>
{% endblock %}