#logo {
    display: inline-block;
    line-height: 76px;
    height: 80px;
    width: auto;
    position: relative;
}

#logo img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 80%;
}

#logo #store {
    position: absolute;
    top: -32%;
    left: 28%;
    font-weight: bold;
}

.navbar {
    background-color: #294969!important;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .nav-item, .navbar .nav-item a{
    color: #fff!important;
    padding: 8px;
}

.navbar .nav-item.active {
    background-color: #192d41!important
}

.footer {
    background-color: #20646f;
    color: #fff;
}
.footer a {
    color: #bcf;
}