{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8">
		<h1>Успешно</h1>
		Оплата прошла успешно.<br>
		<span class="text-danger">Ваш баланс будет пополнен через 5-10 минут.</span><br>
		<a href="https://cristalix.ru/account">Вернуться в личный кабинет</a>
	</div>
</div>
{% endblock %}