{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8">
		{% if code is defined %}
		<h1>Оплата</h1>
		{{code}}
		{% endif %}
		{% if error is defined %}
		<h1>Ошибка оплаты</h1>
		Произошла ошибка при формировании платежа: {{error}}
		{% endif %}
		{% if status == 'selectType' %}
			<h1>Пополнение баланса</h1>
			Вы пополняете баланс пользователя {{username}} на сумму {{paySum}} кристалликов.<br>
			<strong>Выберите способ оплаты:</strong>
			<div class="block_content">
<a href="{{payUrl}}mc">Мобильный платеж</a><br>
<a href="{{payUrl}}card">Пластиковые карты</a><br>
<a href="{{payUrl}}webmoney">WebMoney Z-</a><br>
<a href="{{payUrl}}webmoneyWmr">WebMoney R-</a><br>
<!--<a href="{{payUrl}}yandex">Яндекс.Деньги</a><br>-->
<!--<a href="{{payUrl}}qiwi">Qiwi</a><br>-->
<!--<a href="{{payUrl}}paypal">PayPal</a><br>-->
<a href="{{payUrl}}applepay">Apple Pay</a><br>
<a href="{{payUrl}}samsungpay">Samsung Pay</a><br>
			</div>
		{% endif %}
		{% if status == 'addPhone' %}
			<h1>Пополнение баланса</h1>
			Вы пополняете баланс пользователя {{username}} на сумму {{paySum}} кристалликов.<br>
			Укажите номер телефона с кодом страны (только цифры, без +):<br>
			<form method="get" action="{{payUrl}}">
				<input type="hidden" name="paymentId" value="{{paymentId}}">
				<input type="hidden" name="paymentType" value="{{paymentType}}">
				<input type="hidden" name="paySum" value="{{paySum}}">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">+</span>
					</div>
					<input type="text" name="phone" pattern="\d{10,}" placeholder="79000000000" required>
					<div class="input-group-append">
						<input class="btn btn-primary" type="submit" value="Оплатить"></span>
					</div>
				</div>
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}
