<%- include('parts/header'); %>
<h1>Товары и услуги режима Prison</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Автоплавка</td>
            <td>Не хочешь постоянно ходить продавать вещи? Купи себе режим Автоплавка Навсегда , и больше не заботься об этом.</td>
            <td>349</td>
        </tr>
        <tr>
            <td>Бустер блоков</td>
            <td>Хочешь приумножить свои блоки, да еще и игрокам помочь, и приумножить свои деньги за их счёт? Покупай Глобальный бустер блоков на 30 минут.</td>
            <td>110</td>
        </tr>
        <tr>
            <td>Бустер денег</td>
            <td>Хочешь приумножить деньжат, да еще и игрокам помочь, и приумножить свои деньги за их счёт? Покупай Глобальный бустер денег на 30 минут.</td>
            <td>110</td>
        </tr>
        <tr>
            <td>20 ключей от кейса</td>
            <td>Хочешь как можно быстрее Выбить себе подвал, меч и многое другое? Тогда купи себе 20 ключей от кейса и испытай удачу!</td>
            <td>99</td>
        </tr>
        <tr>
            <td>Вечный бустер блоков +0.1x</td>
            <td>Надоело постоянно копать блоки себе на уровень и апгрейды? Тогда покупай вечный бустер блоков! Ты всегда будешь копать с умножением на +0.1X к вашему бустеру</td>
            <td>325</td>
        </tr>
        <tr>
            <td>Вечный бустер денег +0.1x</td>
            <td>Деньги... Все повернуто на деньгах Тебе нужны деньги на апгрейды, уровень, покупки... И поэтому мы предлагаем тебе Вечный бустер денег (+0.1X)! Копай и получай больше!</td>
            <td>325</td>
        </tr>
        </tbody>
    </table>
</div>
<h3>Как приобрести?</h3>
Находясь на режиме, напишите в чат "/donates", выберите нужный товар и подтвердите покупку.
<%- include('parts/footer'); %>