</div>
<div class="footer mt-4">
    <div class="container">
        <div class="p-3 row">
            <div class="text-left col-lg-6">
                <a href="http://vk.com/cristalixreloaded">Мы в контакте</a><br>
                По всем вопросам обращайтесь на <a href="mailto:info@cristalix.ru">info@cristalix.ru</a>
            </div>
            <div class="text-right col-lg-6">
                © Cristalix<br>
                2018
            </div>
        </div>
    </div>
</div>
</body>
</html>