<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Магазин Cristalix</title>
    <meta name="enot" content="92516045958021QLX8MHP-IBdWettvkGtBUqGaenB58rk" />
</head>
<body>
<div class="container">
    <div id="logo">
        <a href="http://cristalix.store/">
            <img src="/img/logo.svg" alt="CRISTALIX - Мини-игры по-русски">
        </a>
        <div id="store">Магазин</div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page == 'home' %} active{% endif %}">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item{% if page == 'prison' %} active{% endif %}">
                <a class="nav-link" href="/info/prison"><i class="fas fa-hashtag"></i> Prison</a>
            </li>
            <li class="nav-item{% if page == 'poth' %} active{% endif %}">
                <a class="nav-link" href="/info/poth"><i class="fas fa-shield-alt"></i> POTH</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">